In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv('airline_passenger_satisfaction.csv', index_col = 'ID')
df

,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,Ease of Online Booking,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
ID,,,,,,,,,,,,,,,,,,,,,
1,Male,48,First-time,Business,Business,821,2,5.0,3,3,...,3,5,2,5,5,5,3,5,5,Neutral or Dissatisfied
2,Female,35,Returning,Business,Business,821,26,39.0,2,2,...,5,4,5,5,3,5,2,5,5,Satisfied
3,Male,41,Returning,Business,Business,853,0,0.0,4,4,...,3,5,3,5,5,3,4,3,3,Satisfied
4,Male,50,Returning,Business,Business,1905,0,0.0,2,2,...,5,5,5,4,4,5,2,5,5,Satisfied
5,Female,49,Returning,Business,Business,3470,0,1.0,3,3,...,3,4,4,5,4,3,3,3,3,Satisfied
6,Male,43,Returning,Business,Business,3788,0,0.0,4,4,...,4,4,4,3,3,4,4,4,4,Satisfied
7,Male,43,Returning,Business,Business,1963,0,0.0,3,3,...,5,5,5,4,5,5,3,5,5,Satisfied
8,Female,60,Returning,Business,Business,853,0,3.0,3,4,...,3,4,4,4,4,3,4,3,3,Satisfied
9,Male,50,Returning,Business,Business,2607,0,0.0,1,1,...,4,3,4,3,3,4,4,4,4,Neutral or Dissatisfied
10,Female,38,Returning,Business,Business,2822,13,0.0,2,5,...,5,4,5,4,2,5,2,5,5,Satisfied
11,Female,28,First-time,Business,Business,821,0,5.0,1,1,...,2,2,5,2,2,4,1,2,3,Neutral or Dissatisfied
12,Female,27,First-time,Business,Business,421,20,21.0,2,2,...,2,2,5,1,1,3,1,1,4,Neutral or Dissatisfied
13,Male,24,First-time,Business,Economy,453,16,30.0,2,2,...,2,5,4,5,5,4,2,5,4,Neutral or Dissatisfied
14,Male,9,Returning,Personal,Business,853,68,76.0,5,1,...,4,5,3,5,5,5,1,5,4,Neutral or Dissatisfied
15,Male,52,Returning,Personal,Economy,853,0,0.0,4,2,...,3,2,3,2,2,5,2,2,5,Neutral or Dissatisfied
16,Male,70,Returning,Personal,Economy,821,0,0.0,5,2,...,4,5,2,5,5,5,2,5,4,Neutral or Dissatisfied
17,Female,48,Returning,Personal,Economy,821,0,0.0,3,2,...,5,1,2,2,1,5,2,5,5,Neutral or Dissatisfied
18,Female,61,Returning,Personal,Economy,821,0,0.0,5,2,...,5,5,2,1,4,5,2,5,5,Neutral or Dissatisfied
19,Female,11,Returning,Personal,Economy,853,0,0.0,5,3,...,3,5,2,5,5,5,3,5,4,Neutral or Dissatisfied
20,Female,42,Returning,Personal,Economy,821,4,0.0,3,3,...,1,4,3,3,1,1,3,1,1,Neutral or Dissatisfied
21,Female,14,Returning,Personal,Economy,853,12,1.0,1,3,...,1,4,3,4,4,3,3,4,2,Neutral or Dissatisfied
22,Female,70,Returning,Personal,Economy,853,0,0.0,4,1,...,1,4,1,4,2,1,1,1,1,Neutral or Dissatisfied
23,Female,56,Returning,Personal,Economy,821,0,0.0,4,3,...,5,3,3,4,3,5,4,5,5,Neutral or Dissatisfied
24,Male,77,Returning,Business,Economy Plus,821,0,0.0,5,5,...,4,4,5,4,4,2,4,4,3,Neutral or Dissatisfied
25,Male,51,Returning,Business,Business,3460,0,2.0,3,3,...,5,5,4,4,2,5,3,5,5,Satisfied
26,Male,47,Returning,Business,Business,1676,0,15.0,4,5,...,5,5,5,5,5,5,4,5,4,Satisfied
27,Male,50,Returning,Business,Business,2168,6,24.0,3,3,...,5,5,5,4,2,5,3,5,5,Satisfied
28,Male,58,Returning,Business,Business,2867,0,0.0,5,0,...,3,5,3,5,5,3,0,3,3,Satisfied
29,Male,40,Returning,Business,Business,3734,0,52.0,4,4,...,5,4,5,3,2,5,4,5,5,Satisfied
30,Male,48,Returning,Business,Business,3088,0,12.0,4,5,...,4,4,4,3,3,4,4,4,4,Satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129851,Male,22,Returning,Personal,Economy,308,0,0.0,1,2,...,4,2,3,3,3,3,2,3,3,Neutral or Dissatisfied
129852,Male,43,Returning,Personal,Economy,337,0,0.0,5,3,...,4,2,2,2,2,3,3,2,2,Neutral or Dissatisfied
129853,Female,30,Returning,Personal,Economy,447,145,138.0,2,1,...,3,4,4,4,1,3,1,3,4,Neutral or Dissatisfied
129854,Female,69,Returning,Personal,Economy,337,41,48.0,5,3,...,4,2,3,4,1,4,3,4,4,Neutral or Dissatisfied
129855,Female,56,Returning,Business,Business,1972,0,0.0,0,0,...,3,5,3,5,3,3,0,3,3,Satisfied
129856,Female,41,Returning,Business,Business,3926,0,0.0,0,0,...,2,4,2,5,3,2,0,2,2,Satisfied
129857,Male,21,First-time,Business,Business,337,46,43.0,4,4,...,5,5,2,5,5,4,4,5,4,Satisfied
129858,Female,40,Returning,Business,Business,337,0,0.0,0,0,...,2,5,2,5,5,2,0,2,2,Satisfied
129859,Female,22,Returning,Business,Economy Plus,308,0,7.0,2,2,...,4,2,5,3,3,3,3,3,4,Neutral or Dissatisfied
129860,Male,22,First-time,Business,Business,447,0,0.0,1,0,...,3,2,2,2,2,4,0,2,4,Satisfied
129861,Female,30,Returning,Business,Business,337,0,0.0,2,2,...,3,5,4,5,5,4,2,5,5,Satisfied
129862,Female,39,Returning,Business,Business,2667,1,0.0,0,0,...,3,5,3,3,5,3,0,3,3,Satisfied
129863,Male,51,Returning,Business,Business,308,0,0.0,4,4,...,5,5,5,4,3,5,4,5,5,Satisfied
129864,Female,39,Returning,Business,Business,2747,0,0.0,1,5,...,5,4,5,3,3,5,1,5,5,Satisfied
129865,Male,38,Returning,Business,Business,2740,0,0.0,3,3,...,5,4,5,5,2,5,3,5,5,Satisfied
129866,Male,64,Returning,Business,Economy Plus,337,27,18.0,3,3,...,1,2,2,2,2,3,2,2,3,Neutral or Dissatisfied
129867,Female,20,First-time,Business,Economy,447,0,4.0,0,4,...,3,5,3,4,4,5,4,4,4,Satisfied
129868,Male,47,Returning,Business,Economy Plus,447,0,0.0,4,4,...,2,4,5,4,4,4,3,4,3,Neutral or Dissatisfied
129869,Female,18,First-time,Business,Economy,337,0,0.0,0,2,...,4,5,4,5,5,4,2,5,4,Neutral or Dissatisfied
129870,Male,20,First-time,Business,Economy,447,8,0.0,2,2,...,2,4,4,4,4,2,2,4,2,Neutral or Dissatisfied
129871,Female,23,First-time,Business,Business,337,46,58.0,2,2,...,2,5,1,5,5,4,2,5,4,Neutral or Dissatisfied
129872,Female,32,Returning,Business,Economy Plus,337,0,1.0,2,4,...,5,4,1,4,4,1,4,4,3,Satisfied
129873,Female,44,Returning,Personal,Economy Plus,308,0,22.0,4,3,...,3,4,3,5,5,3,3,3,3,Neutral or Dissatisfied
129874,Female,28,Returning,Personal,Economy Plus,337,0,0.0,2,4,...,1,3,5,3,3,4,4,3,3,Neutral or Dissatisfied
129875,Female,55,Returning,Personal,Economy Plus,308,0,0.0,4,3,...,4,3,3,4,2,4,3,4,4,Neutral or Dissatisfied
129876,Male,28,Returning,Personal,Economy Plus,447,2,3.0,4,4,...,5,1,4,4,4,5,4,4,4,Neutral or Dissatisfied
129877,Male,41,Returning,Personal,Economy Plus,308,0,0.0,5,3,...,5,2,5,2,2,4,3,2,5,Neutral or Dissatisfied
129878,Male,42,Returning,Personal,Economy Plus,337,6,14.0,5,2,...,3,3,4,3,3,4,2,3,5,Neutral or Dissatisfied
129879,Male,50,Returning,Personal,Economy Plus,337,31,22.0,4,4,...,4,4,5,3,3,4,5,3,5,Satisfied
129880,Female,20,Returning,Personal,Economy Plus,337,0,0.0,1,3,...,4,2,4,2,2,2,3,2,1,Neutral or Dissatisfied

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129880 entries, 1 to 129880
Data columns (total 23 columns):
Gender                                    129880 non-null object
Age                                       129880 non-null int64
Customer Type                             129880 non-null object
Type of Travel                            129880 non-null object
Class                                     129880 non-null object
Flight Distance                           129880 non-null int64
Departure Delay                           129880 non-null int64
Arrival Delay                             129487 non-null float64
Departure and Arrival Time Convenience    129880 non-null int64
Ease of Online Booking                    129880 non-null int64
Check-in Service                          129880 non-null int64
Online Boarding                           129880 non-null int64
Gate Location                             129880 non-null int64
On-board Service                          129880 non-null int64
Seat Comfort                              129880 non-null int64
Leg Room Service                          129880 non-null int64
Cleanliness                               129880 non-null int64
Food and Drink                            129880 non-null int64
In-flight Service                         129880 non-null int64
In-flight Wifi Service                    129880 non-null int64
In-flight Entertainment                   129880 non-null int64
Baggage Handling                          129880 non-null int64
Satisfaction                              129880 non-null object
dtypes: float64(1), int64(17), object(5)
memory usage: 23.8+ MB

In [4]:
df.describe()

,Age,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,Ease of Online Booking,Check-in Service,Online Boarding,Gate Location,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling
count,129880.000000,129880.000000,129880.000000,129487.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000
mean,39.427957,1190.316392,14.713713,15.091129,3.057599,2.756876,3.306267,3.252633,2.976925,3.383023,3.441361,3.350878,3.286326,3.204774,3.642193,2.728696,3.358077,3.632114
std,15.119360,997.452477,38.071126,38.465650,1.526741,1.401740,1.266185,1.350719,1.278520,1.287099,1.319289,1.316252,1.313682,1.329933,1.176669,1.329340,1.334049,1.180025
min,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,27.000000,414.000000,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,3.000000
50%,40.000000,844.000000,0.000000,0.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,3.000000,3.000000,4.000000,3.000000,4.000000,4.000000
75%,51.000000,1744.000000,12.000000,13.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,5.000000
max,85.000000,4983.000000,1592.000000,1584.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [5]:
df.columns

Index(['Gender', 'Age', 'Customer Type', 'Type of Travel', 'Class',
       'Flight Distance', 'Departure Delay', 'Arrival Delay',
       'Departure and Arrival Time Convenience', 'Ease of Online Booking',
       'Check-in Service', 'Online Boarding', 'Gate Location',
       'On-board Service', 'Seat Comfort', 'Leg Room Service', 'Cleanliness',
       'Food and Drink', 'In-flight Service', 'In-flight Wifi Service',
       'In-flight Entertainment', 'Baggage Handling', 'Satisfaction'],
      dtype='object')

In [6]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [7]:
df['Age'].unique()

array([48, 35, 41, 50, 49, 43, 60, 38, 28, 27, 24,  9, 52, 70, 61, 11, 42,
       14, 56, 77, 51, 47, 58, 40, 21, 33, 39, 54, 46, 45, 23, 20, 44, 37,
       36, 57, 31, 53, 25, 55, 72, 19, 65, 32, 80,  7, 34, 18, 12, 26, 17,
       66, 68, 67, 59, 69, 16, 22, 64, 29, 10, 71, 30, 62, 63,  8, 15, 73,
       78, 74, 79, 13, 76, 75, 85], dtype=int64)

In [8]:
df['Customer Type'].unique()

array(['First-time', 'Returning'], dtype=object)

In [9]:
df['Type of Travel'].unique()

array(['Business', 'Personal'], dtype=object)

In [10]:
df['Class'].unique()

array(['Business', 'Economy', 'Economy Plus'], dtype=object)

In [11]:
df['Arrival Delay'].describe()

count    129487.000000
mean         15.091129
std          38.465650
min           0.000000
25%           0.000000
50%           0.000000
75%          13.000000
max        1584.000000
Name: Arrival Delay, dtype: float64

In [12]:
df.loc[df['Arrival Delay'] > 240 , 'Arrival Delay'].describe()

count     616.000000
mean      340.452922
std       133.510748
min       241.000000
25%       264.000000
50%       301.000000
75%       362.250000
max      1584.000000
Name: Arrival Delay, dtype: float64

In [13]:
df['Departure Delay'].describe()

count    129880.000000
mean         14.713713
std          38.071126
min           0.000000
25%           0.000000
50%           0.000000
75%          12.000000
max        1592.000000
Name: Departure Delay, dtype: float64

In [14]:
df.loc[df['Departure Delay'] > 240 , 'Arrival Delay'].describe()

count     584.00000
mean      342.07363
std       136.98935
min       218.00000
25%       263.00000
50%       304.00000
75%       366.50000
max      1584.00000
Name: Arrival Delay, dtype: float64

In [15]:
for i in df.loc[:,'Departure and Arrival Time Convenience' : 'Baggage Handling']:
    print(i,df[i].unique())

Departure and Arrival Time Convenience [3 2 4 1 5 0]
Ease of Online Booking [3 2 4 1 5 0]
Check-in Service [4 3 1 2 5 0]
Online Boarding [3 5 4 2 1 0]
Gate Location [3 2 4 1 5 0]
On-board Service [3 5 4 2 1 0]
Seat Comfort [5 4 3 2 1 0]
Leg Room Service [2 5 3 4 1 0]
Cleanliness [5 4 3 2 1 0]
Food and Drink [5 3 4 2 1 0]
In-flight Service [5 3 4 1 2 0]
In-flight Wifi Service [3 2 4 1 0 5]
In-flight Entertainment [5 3 4 2 1 0]
Baggage Handling [5 3 4 1 2]

In [16]:
df['Satisfaction'].unique()

array(['Neutral or Dissatisfied', 'Satisfied'], dtype=object)